<div>
      <%= render 'error', book: @book %>
      <%= render 'users/profile', user: @book.user %>
      <%= render 'newbook', book: @book %>

</div>

<h1>Books detail</h1>
<table>
  <tbody>
    <tr>
      <td>
        <%= image_tag @book.user.get_profile_image(80,80) %></br><!--userモデルで各自指定するように記載しているため、サイズを指定-->
        <p><%- link_to @book.user.name, user_path(@book.user) %></p>
      </td>
      <td><%= link_to @book.title, book_path %></td>
      <td><%= @book.body %></td>
      
      <% if @book.user == current_user %> <!--current_userの_!-->
      <td>
      <%= link_to "Edit", edit_book_path(@book.id) %> 
      </td>
      <td>
      <%= link_to "Destroy", book_path(@book), method: :delete %>
      <% end %>
      </td>
    </tr>
  </tbody>
</table>
